body {
  background-color: rgb(127, 52, 165);
}

.complete {
  text-decoration: line-through;
}

/* .todo-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
} */

/* li,
button {
  display: inline-block;
  margin-left: 5px;
  margin-right: 15px;
} */

/* 
.todo-list ul li {
  border: red 1px solid;
  margin: 30px;
} */
